<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="Tailspin.SpaceGame.Web.Models" value="https://pkgs.dev.azure.com/pascl/0f465813-68bd-4598-8f84-6b65ccd50b01/_packaging/Tailspin.SpaceGame.Web.Models/nuget/v3/index.json" />
  </packageSources>
</configuration>